/* line 2, drive.less */
html {
  font-size: 20px;
}
/* line 5, drive.less */
html,
body,
#drive {
  width: 100%;
  height: 100%;
  max-width: 670px;
  margin: 0 auto;
}
/* line 11, drive.less */
.fl {
  float: left;
}
/* line 12, drive.less */
.fr {
  float: right;
}
/* line 13, drive.less */
#drive {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/* line 19, drive.less */
#drive #header header {
  width: 100%;
  height: 2.2rem;
  background: #d70504;
  border-bottom: .1rem solid #eee;
}
/* line 24, drive.less */
#drive #header header a {
  float: left;
}
/* line 26, drive.less */
#drive #header header a img {
  margin-left: .8rem;
  margin-top: .2rem;
  height: 1.8rem;
}
/* line 32, drive.less */
#drive #header header span {
  float: right;
  color: #f8f7e5;
  font-size: .7rem;
  margin: .6rem .9rem 0 0;
}
/* line 39, drive.less */
#drive #header ul {
  width: 100%;
  height: 1.55rem;
  background: #f6f6f6;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 45, drive.less */
#drive #header ul li {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 1.55rem;
  position: relative;
}
/* line 50, drive.less */
#drive #header ul li a {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.3rem;
  font-size: .66rem;
}
/* line 61, drive.less */
#drive #header ul li .active {
  border: 1px solid #c20c09;
  color: #c20c09;
}
/* line 68, drive.less */
#drive #content {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
}
/* line 72, drive.less */
#drive #content .banner {
  width: 100%;
  height: 8rem;
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
}
/* line 79, drive.less */
#drive #content .banner ul {
  position: relative;
  left: 0;
  top: 0;
  height: 8rem;
  width: 80rem;
}
/* line 85, drive.less */
#drive #content .banner ul li {
  float: left;
  width: 16rem;
  height: 8rem;
}
/* line 89, drive.less */
#drive #content .banner ul li a {
  float: left;
  width: 100%;
  height: 100%;
}
/* line 93, drive.less */
#drive #content .banner ul li a img {
  width: 100%;
  height: 100%;
}
/* line 97, drive.less */
#drive #content .banner ul li a div {
  width: 100%;
  height: 1rem;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  text-indent: .6rem;
  line-height: 1rem;
  color: #fff;
}
/* line 107, drive.less */
#drive #content .banner ul li a div h4 {
  font-size: .58rem;
}
/* line 115, drive.less */
#drive #content .banner .btn {
  /*width:2.8rem;
                height:0.4rem;
                position:absolute;
                right:.5rem;
                bottom:.3rem;
                span{
                    .fl;
                    width:0.3rem;
                    height:.3rem;
                    margin-left:.3rem;
                    background:#ccc;
                }*/
}
/* line 128, drive.less */
#drive #content .banner .btn .swiper-pagination-bullet-active {
  background: #fff;
}
/* line 133, drive.less */
#drive #content .main {
  width: 100%;
}
/* line 135, drive.less */
#drive #content .main .list {
  width: 100%;
  box-sizing: border-box;
  padding-left: .6rem;
  padding-right: 01rem;
  border-bottom: .025rem solid #ececec;
}
/* line 141, drive.less */
#drive #content .main .list h3 {
  margin: 0.75rem 0;
  font-size: .76rem;
}
/* line 144, drive.less */
#drive #content .main .list h3 .active {
  color: #89181a;
}
/* line 149, drive.less */
#drive #content .main .list p {
  font-size: .6rem;
  color: #aaaaaa;
  margin-bottom: .6rem;
}
/* line 153, drive.less */
#drive #content .main .list p em {
  float: right;
}
/* line 155, drive.less */
#drive #content .main .list p em img {
  margin-left: .2rem;
  width: 0.78rem;
}
/* line 162, drive.less */
#drive #content .main .agt {
  width: 100%;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  padding: .5rem 1rem;
}
/* line 168, drive.less */
#drive #content .main .agt div {
  -webkit-flex: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-size: .6rem;
}
/* line 173, drive.less */
#drive #content .main .agt div img {
  width: 6rem;
  height: 4.5rem;
  margin: .6rem 0;
}
/* line 179, drive.less */
#drive #content .main .agt div p a {
  font-size: .6rem;
  color: #494949;
}
/* line 188, drive.less */
#drive #content .next {
  width: 100%;
  height: 2.1rem;
  text-align: center;
  line-height: 2rem;
  border-bottom: .025rem solid #d8d8d8;
  font-size: .6rem;
}
/* line 196, drive.less */
#drive #content footer {
  text-align: center;
}
/* line 198, drive.less */
#drive #content footer h3 {
  margin: .7rem 0;
  width: 100%;
  font-size: .76rem;
}
/* line 203, drive.less */
#drive #content footer P {
  margin-bottom: .7rem;
  width: 100%;
  font-size: .6rem;
}
/*# sourceMappingURL=drive.css.map */