@charset "utf-8";
/* line 3, index.less */
body,
html {
  height: 100%;
  min-width: 600px;
}
/* line 7, index.less */
.fl {
  float: left;
}
/* line 8, index.less */
.fr {
  float: right;
}
/* line 9, index.less */
header {
  min-width: 600px;
  width: 100%;
  height: 66px;
  background: rgba(30, 20, 86, 0.1);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 6;
}
/* line 19, index.less */
header h1 {
  float: left;
  font-size: 45px;
  font-weight: bold;
  color: #09f;
  margin-left: 20px;
  line-height: 66px;
}
/* line 27, index.less */
header #top-nav {
  float: right;
}
/* line 29, index.less */
header #top-nav li {
  float: left;
  width: 100px;
  height: 66px;
  position: relative;
  left: 0;
  top: 0;
}
/* line 36, index.less */
header #top-nav li div {
  width: 100px;
  height: 100%;
  -webkit-transition: .6s all ease;
          transition: .6s all ease;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 43, index.less */
header #top-nav li div a {
  display: block;
  text-align: center;
  line-height: 66px;
  font-size: 18px;
  color: #fff;
}
/* line 55, index.less */
#dowebok .page1 {
  background: url(../images/6.jpg) 50%;
}
/* line 57, index.less */
#dowebok .page1 h3 {
  position: absolute;
  left: 30%;
  top: 18%;
  font-size: 36px;
  color: #00e5ff;
}
/* line 64, index.less */
#dowebok .page1 .iceberg {
  position: absolute;
  right: 12%;
  top: 36%;
  opacity: 0;
  -webkit-transition: all 1s;
          transition: all 1s;
}
/* line 71, index.less */
#dowebok .page1 .text {
  position: absolute;
  left: 28%;
  top: 30%;
  width: 600px;
  height: 300px;
  z-index: 6;
}
/* line 78, index.less */
#dowebok .page1 .text p {
  font-size: 20px;
}
/* line 82, index.less */
#dowebok .page1 .bg1 {
  position: absolute;
  left: 50%;
  bottom: 260px;
  width: 164px;
  height: 117px;
  margin-left: -180px;
  background-image: url(../images/bg82.png);
  opacity: 0;
  -webkit-transition: all 1s;
          transition: all 1s;
}
/* line 93, index.less */
#dowebok .page1 .bg2 {
  position: absolute;
  left: 50%;
  bottom: 380px;
  width: 70px;
  height: 29px;
  margin-left: -330px;
  background-image: url(../images/bg83.png);
  opacity: 0;
  -webkit-transition: all 1s;
          transition: all 1s;
}
/* line 104, index.less */
#dowebok .page1 .bg3 {
  position: absolute;
  left: 50%;
  bottom: 420px;
  width: 43px;
  height: 26px;
  margin-left: -410px;
  background-image: url(../images/bg84.png);
  opacity: 0;
  -webkit-transition: all 1s;
          transition: all 1s;
}
/* line 117, index.less */
#dowebok .active .bg1 {
  bottom: 360px;
  margin-left: -280px;
  opacity: 1;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
/* line 123, index.less */
#dowebok .active .bg2 {
  bottom: 490px;
  margin-left: -430px;
  opacity: 1;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
/* line 129, index.less */
#dowebok .active .bg3 {
  bottom: 520px;
  margin-left: -510px;
  opacity: 1;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}
/* line 135, index.less */
#dowebok .active .iceberg {
  opacity: 1;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
/* line 140, index.less */
#dowebok h2 {
  font-size: 36px;
}
/* line 143, index.less */
#dowebok .page2 {
  background: url(../images/7.jpg) 50%;
}
/* line 145, index.less */
#dowebok .page2 h3 {
  position: relative;
  right: 18%;
  top: -200%;
  color: #fff;
  text-align: right;
  font-size: 36px;
  z-index: 6;
}
/* line 152, index.less */
#dowebok .page2 .dome {
  width: 100%;
  position: relative;
  left: -120%;
  top: 50%;
  vertical-align: middle;
  display: table-cell;
  text-align: -webkit-center;
  margin-top: 600px;
  z-index: 6;
}
/* line 160, index.less */
#dowebok .page2 .dome a {
  display: inline-block;
  margin-top: 200px;
}
/* line 165, index.less */
#dowebok .page2 .fp1 {
  position: absolute;
  left: 100px;
  top: -150%;
  z-index: 6;
}
/* line 171, index.less */
#dowebok .page2 .fp2 {
  position: absolute;
  right: 100%;
  bottom: -50%;
  z-index: 6;
}
/* line 177, index.less */
#dowebok .page2 p {
  position: absolute;
  left: -160%;
  bottom: 120px;
  margin: 18px 0;
  font-size: 20px;
  z-index: 6;
}
/* line 185, index.less */
#dowebok .page2 .bg1 {
  position: absolute;
  bottom: -372px;
  width: 100%;
  height: 372px;
  background: url(../images/bg41.png) 50% 0 no-repeat;
  -webkit-transition: all 1s;
          transition: all 1s;
}
/* line 193, index.less */
#dowebok .page2 .bg2 {
  position: absolute;
  bottom: -449px;
  width: 100%;
  height: 449px;
  background: url(../images/bg42.png) 50% 0 no-repeat;
  -webkit-transition: all 1s;
          transition: all 1s;
}
/* line 201, index.less */
#dowebok .page2 .bg3 {
  position: absolute;
  bottom: -449px;
  width: 100%;
  height: 449px;
  margin-bottom: -130px;
  background: url(../images/bg43.png) 50% 0 no-repeat;
  -webkit-transition: all 1s;
          transition: all 1s;
}
/* line 211, index.less */
#dowebok .active2 {
  /*.bg2{
            bottom: 15%;
            right:18%;
            transition-delay: 1.1s;
        }*/
}
/* line 212, index.less */
#dowebok .active2 .bg1 {
  bottom: 15%;
  right: 0;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
/* line 222, index.less */
#dowebok .active2 .bg3 {
  bottom: 15%;
  right: 4%;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
/* line 228, index.less */
#dowebok .page3 {
  background: url(../images/9.jpg) 50%;
}
/* line 230, index.less */
#dowebok .page3 h3 {
  position: relative;
  right: 0;
  top: -300%;
  color: #999;
  text-align: center;
  font-size: 36px;
}
/* line 236, index.less */
#dowebok .page3 section {
  float: left;
  width: 33.33%;
  position: absolute;
  top: 55%;
  margin-top: -200px;
}
/* line 243, index.less */
#dowebok .page3 section .grid .hover {
  width: 100%;
  opacity: 1;
}
/* line 249, index.less */
#dowebok .page3 section.hover1 {
  left: -100%;
}
/* line 252, index.less */
#dowebok .page3 section.hover2 {
  left: 33.33%;
  opacity: 0;
}
/* line 256, index.less */
#dowebok .page3 section.hover3 {
  right: -100%;
}
/* line 260, index.less */
#dowebok .page4 {
  background: url(../images/11.jpg) 50%;
}
/* line 262, index.less */
#dowebok .page4 h3 {
  position: relative;
  right: -100%;
  top: 15%;
  color: #fff;
  text-align: center;
  font-size: 36px;
}
/* line 268, index.less */
#dowebok .page4 section {
  float: left;
  width: 33.33%;
  position: absolute;
  top: 55%;
  margin-top: -200px;
}
/* line 275, index.less */
#dowebok .page4 section .grid .hover {
  width: 100%;
  opacity: 1;
}
/* line 281, index.less */
#dowebok .page4 section.hover1 {
  left: 0;
  opacity: 0;
}
/* line 285, index.less */
#dowebok .page4 section.hover2 {
  left: 33.33%;
  opacity: 0;
}
/* line 289, index.less */
#dowebok .page4 section.hover3 {
  right: 0;
  opacity: 0;
}
/* line 294, index.less */
#dowebok .page5 {
  background: url(../images/5.jpg) 50%;
}
/* line 295, index.less */
#dowebok .page6 {
  background: url(../images/10.jpg) 50%;
}
/* line 297, index.less */
#dowebok .page6 .author {
  padding: 120px 120px 0;
  text-align: center;
}
/* line 300, index.less */
#dowebok .page6 .author a {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}
/* line 306, index.less */
#dowebok .page6 .author a img {
  width: 100%;
  height: 100%;
}
/* line 312, index.less */
#dowebok .page6 .contactMe {
  height: 46px;
  width: 100%;
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
}
/* line 319, index.less */
#dowebok .page6 .contactMe div {
  width: 100%;
  -webkit-transition: .6s all ease;
          transition: .6s all ease;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 325, index.less */
#dowebok .page6 .contactMe div h2 {
  text-align: center;
  line-height: 46px;
}
/* line 328, index.less */
#dowebok .page6 .contactMe div h2 a {
  color: #fff;
}
/* line 334, index.less */
#dowebok .page6 h3 {
  text-align: center;
}
/* line 336, index.less */
#dowebok .page6 h3 span {
  display: inline-block;
  width: 200px;
  height: 3px;
  background: #00c853;
  margin-bottom: 10px;
}
/* line 344, index.less */
#dowebok .page6 .toContactMe {
  text-align: center;
  color: #eee;
  font-size: 16px;
  opacity: 0;
  -webkit-transition: 1.5s all ease;
          transition: 1.5s all ease;
}
/* line 351, index.less */
#dowebok .page6 .Dream {
  text-align: center;
  font-size: 36px;
  color: #eee;
  margin-left: 100%;
  -webkit-transition: 1.5s all ease;
          transition: 1.5s all ease;
  white-space: nowrap;
}
/* line 359, index.less */
#dowebok .page6 .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  border-top: 3px solid rgba(150, 200, 150, 0.5);
  padding-top: 10px;
}
/* line 367, index.less */
#dowebok .page6 .footer p {
  text-align: center;
  color: #eee;
  font-size: 14px;
  margin: 6px;
  -webkit-transition: 1.2s all ease;
          transition: 1.2s all ease;
  white-space: nowrap;
}
/* line 374, index.less */
#dowebok .page6 .footer p a {
  color: #eee;
}
/* line 378, index.less */
#dowebok .page6 .footer p:nth-child(1) {
  -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
          transform: scale(0, 0);
}
/* line 381, index.less */
#dowebok .page6 .footer p:nth-child(2) {
  margin-left: -200%;
}
/* line 384, index.less */
#dowebok .page6 .footer p:nth-child(3) {
  margin-right: -200%;
}
/* line 392, index.less */
#fp-nav ul li {
  height: 21px;
  margin-top: 10px;
  vertical-align: middle;
}
/* line 396, index.less */
#fp-nav ul li a {
  /*float: right; width: 21px; height: 21px; color: #8F9DA4; text-decoration: none; text-align: right; background: url(../images/dot.png) 5px 5px no-repeat;*/
}
/* line 398, index.less */
#fp-nav ul li a span {
  -webkit-transition: .6s all ease;
          transition: .6s all ease;
  -display: none;
  border-color: #fff;
}
/* line 405, index.less */
#fp-nav ul li a.active span {
  background: #fff;
}
/*# sourceMappingURL=index.css.map */