<div class="banner swiper-container">
    <ul class="swiper-wrapper">
        <li class="swiper-slide">
            <a href="javascript:;">
                <img src="img/1.png" alt="">
                <div><h4>如此逆天的Android平板你知道吗？</h4></div>
            </a>
        </li>
        <li class="swiper-slide">
            <a href="javascript:;">
                <img src="img/1.png" alt="">
                <div><h4>如此逆天的Android平板你知道吗？</h4></div>
            </a>
        </li>
        <li class="swiper-slide">
            <a href="javascript:;">
                <img src="img/1.png" alt="">
                <div><h4>如此逆天的Android平板你知道吗？</h4></div>
            </a>
        </li>
    </ul>
    <div class="btn swiper-pagination">
    </div>
</div>